version: "3.9"

services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/langgraph-tutorial:cached

    command: sleep infinity

    ports:
      - "3000:3000"
      - "8000:8000"

    environment:
      PYTHONUNBUFFERED: "1"
