services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    
    env_file:
      - ../.env.dev

    environment:
      DEBIAN_FRONTEND: noninteractive
      PYTHONUNBUFFERED: "1"

    volumes:
      - ..:/langgraph-tutorial:cached

    ports:
      - "8501:8501"

    models:
      llm:
        endpoint_var: LOCAL_LLM_URL
        model_var: LOCAL_LLM_MODEL   

    command: sleep infinity
  
models:
  llm:
    model: ai/mistral:7B-Q4_0
