services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/langgraph-tutorial:cached

    ports:
      - "8501:8501"

    models:
      - llm   

    command: sleep infinity
  
models:
  llm:
    model: ai/mistral:7B-Q4_0
