version: "3.9"

services:
  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/langgraph-tutorial:cached
      - ~/.gitconfig:/home/vscode/.gitconfig:ro

    command: sleep infinity

    ports:
      # Example: FastAPI / Express / whatever
      - "3000:3000"
      - "8000:8000"

    environment:
      PYTHONUNBUFFERED: "1"
